.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2.75rem;
}

.logo__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__logo {
    width: 2rem;
}

.cabecalho__titulo_logo {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;

    color: var(--preto);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho__menu {
    width: 1.5rem;
}